.body{
  background-color: white;
}
.container-home {
  background-image: url("bg1.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  // background-clip: content-box;
  height: 500px;
  width: 100%;
  background-color: white;
}
.text-banner {
  padding: 150px 0 0 100px;

  h1{
    color: #DD4A48;
  }
  p{
    color: #DD4A48;
  }
}
.btn-home{
  color: #728f72;
  background-color: transparent;
  border: 1px solid #728f72;
  border-radius: 20px;
}
.btn-home:hover{
  color: #DD4A48;
  border: 1px solid #DD4A48;
  transition: 0.6s;
  box-shadow: 1px 1px 5px #DD4A48;
}
//------------- carousel -------------

.carousel-home {
  background-image: linear-gradient(to right, #dd4b4893, #728f72b9);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
}
.carousel-card {
  width: 600px;
  margin: 30px auto;
}
//------------- cards-carousel -------------

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.card-trip-bg {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("cookbook.jpg");
  background-position: center;
  background-size: cover;
  height: 200px;
    h4 {
      color: #ffffff;
    }
}
.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos {
  // height: 100px;
  margin: 0;
}

.card-infos-body{
  h6{
    display: inline-block;
    margin-right: 5px;
    font-size: 17px;
  }
}
.btn-cards {
  padding: 3px;
}
// -------------------
.container-cicles {
  display: flex;
  justify-content: space-between;
}
.link-cicles{
  height: 700px;
  padding: 70px 40px;
  background-color: white;
}
.link-container {
  width: 100%;
  height: 150px;
}
.link-cicle {
  border: 1px solid #728f72;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-image: url("cookbook.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cicles-text {
  background-color: white;
}
.link-cicle-center {
  width: 200px;
  height: 200px;
}
