// ---------Button--------

.btn-header-ingredients {
  color: white;
  background-color: #5ca568;
  border: 1px solid #5ca568;
  border-radius: 8px;
  font-weight: 400;
}
.btn-header-ingredients:hover {
  color: white;
  border: 1px solid #728f72;
  background-color: #728f72;
  transition: 0.5s;
  // box-shadow: 2px 3px 8px #DD4A48;
}
.btn-ingredients {
  margin-left: 10px;
  color: #728f72;
  background-color: transparent;
  border: 1px solid #728f72;
  border-radius: 10px;

}

.btn-ingredients.active {
  color: rgb(255, 255, 255);
  background-color: #728f72;
}

.btn-ingredients:hover {
  color: white !important;
  background-color: #5ca568 !important;
  border: 1px solid #5ca568 !important;
}
.btn-footer-ingredients {
  color: white;
  background-color: #c03432;
  border-radius: 8px;
  font-weight: bold;
}
.btn-footer-ingredients:hover {
  background-color: #DD4A48;
  color: white;
  transition: 0.4s;
}

// ------------searchbar--------------
.form-control-ingredients {
  margin-right: 10px;
}

// -------------containers-------------

// -------------teste-------------
.page-container {
  height: 80vh;
}
.cont {
  // width: 90%;
  // height: 90vh;
  // margin: 0 auto;
  // background-image: url("bg16.jpg");
  // background-position:  right;
  // background-size: cover;
  // border-radius: 10px;
  padding: 20px ;
}
.conter {
  background-image: url("bg16.jpg");
  background-position:  bottom;
  background-size: cover;
  margin: 20px 0;
  border-radius: 5px;
}

.opacity-recipes {
  background-image: linear-gradient(rgba(125,125,125,0.4),rgba(125,125,125,0.4)), url("bg16.jpg");
}
.hr-recipes {
  color: #9494948c;
  margin: 0;
}
.box {
  width: 96%;
  margin: 0 auto;
}
// -------------teste-------------
.sidebar-ingredients {
  position: relative;
  // width: 400px;
  padding: 0;
}
.pantry-header {
  // height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  h2 {
    font-size: 1.25rem;
    color: #DD4A48;
    text-shadow: 1px 1px 3px rgba(150, 122, 122, 0.2);
    font-weight: bold;
  }

  .searched-ingredients {
    z-index: 2;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.pantry-search-bar {
  // background-color: red;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.categories-container {
  height: 61vh;
  overflow-y: scroll;
  padding: 10px;
  background-color: #C0D8C0;
  border-radius: 5px;
}
.categories-container-modal{
  overflow: hidden;
}

// .container-recipes{
//   // background-image: url("bg16.jpg");
//   // background-position: right;
//   // background-size: cover;
// }

.grid-ingreditents {
  overflow-y: scroll;
  height: 75vh;
  padding: 10px 0;
}
// -------------card-category-------------

.card-category {
  // width: 90vw;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;

  .card-category-header {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    height: 100px;

    h2 {
      font-size: 1rem;
      color: white;
      text-shadow: 1px 1px 3px rgb(104, 97, 97);
      font-weight: bold;
    }
  }
}
.back {
  background-image: linear-gradient(rgba(128, 124, 124, 0.4),rgba(85, 85, 85, 0.4)), url("bg7.jpg");
  background-size: cover;
}


// ---------recipes--------


.text-header-ingredients {
  color: #DD4A48;
  text-shadow: 1px 1px 3px rgb(104, 97, 97);
  font-weight: bold;
}

.typed-cursor {
  display: none;
}
