.profile-container {
  height: 83vh;
}

.sidebar {
  margin: 0;
  padding: 15px;
  background-color: #728f72;
  height: 100%;
  align-items: center;
  position: sticky;
  top: 0;

  h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    }
}

.sidebar a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
  text-align: center;
}

.sidebar a.active {
  background-color: #728f72;
  font-weight: bolder;
  font-size: x-large;
  transition: 0.6s;
  box-shadow: 1px 1px 5px #DD4A48;
}

.sidebar a:hover:not(.active) {
  background-color: #728f72;
  font-weight: bolder;
  font-size: x-large;
  transition: 0.6s;
  text-shadow: 1px 1px 5px #DD4A48;
}

div.content {
  display: flex;
  flex-direction: column;
  padding: 1px 16px;
  height: 100%;
  flex-grow: 1;
  overflow-x: hidden;
}

.flex-about {
  display: flex;
  margin-left: 15px;
  width: 100%;
  height: 23vh;
  background-image: linear-gradient(to right, #ffffff93, #728f72);;
}

.about-info {
  display:flex;
  margin-left: 15px;
  flex-direction: column;
  width: 30%;
  justify-content: center;

    h1 {
      margin-left: 40px;
      color: #DD4A48;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 32px;
      font-weight: bold;
      grid-column-start: 1;
    }

    p {
      display: inline-block;
      margin-right: 5px;
      margin-left: 40px;
      font-size: 15px;
      color: #5e795e;
    }
}

.about-image {
  width: 70%;
  background: url(plate.png);
  background-size: auto;
  background-position: center left;
}

.no-recipes-profile {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-recipes-message {
  color: #DD4A48;
}

.find-recipe-button {
  margin-top: 24px;
  text-decoration: none;
  color: white;
  background-color: #5ca568;
  border: 1px solid #5ca568;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;

  &:hover {
    color: white;
    border: 1px solid #728f72;
    background-color: #728f72;
    transition: 0.5s;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.user-image {
  width: 16rem;
  border-radius: 50%;
}


.btn-edit-profile {
  color: #728f72;
  background-color: transparent;
  border: 1px solid #728f72;
  border-radius: 15px;
  display: inline-block;
  margin-right: 30px;
  margin-left: 40px;
  font-weight: lighter;
  padding: 3px;
  display: block;
  width: 50%;
  text-align: center;
}

.btn-edit-profile:hover{
  color: #DD4A48;
  border: 1px solid #DD4A48;
  transition: 0.6s;
  box-shadow: 1px 1px 5px #DD4A48;
}

.fridge-container {
  border-radius: 4px;
  flex-grow: 1;
  margin-left: 15px;
  background-size: cover;
  background-image: linear-gradient(rgba(180,180,180,0.5),rgba(220,220,220,0.5)), url("empty-fridge.jpg");
  background-position: center;
  padding: 10px 0;
  width: 100%;

  h1 {
    color: #DD4A48;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}


.fav-recipes {
  flex-grow: 1;
  overflow-y: scroll;
  margin-left: 15px;
  background-size: cover;
  background-image: linear-gradient(to right, #ffffff93, #728f72);
  background-position: center;
  padding: 10px 0;
  width: 100%;
}

.fav-recipes h1 {
  color: #DD4A48;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card-product {
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 6px;
}

.my-fridge-class {
  margin-left: 10px;
  background-size: cover;
  background-image: linear-gradient(to bottom, #ffffff93, #728f72);
  background-position: center;
  padding: 10px 0;

    h1 {
      margin-left: 15px;
      color: #DD4A48;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 32px;
      font-weight: bold;
      grid-column-start: 1;
    }
}

.add-ingredients {
  display: inline-block;
  margin-right: 5px;
  margin-left: 10px;
  font-size: 15px;
  color: black;
}
