<div class="footer" id="about">
  <div class="footer-links">
    <a href="https://github.com/aleciofilho/rails-what-the-food" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lewagonbrasil"><i class="fab fa-instagram"></i></a>
    <a href="https://pt-br.facebook.com/lewagon/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/lewagonbrasil"><i class="fab fa-twitter"></i></a>
    <a href="https://br.linkedin.com/showcase/le-wagon-brasil"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="logo-footer">
    <%= image_tag "logo-wtf.svg" %>
  </div>
  <div class="footer-copyright">
   <p>What The Food - <i class="fas fa-heart"></i> Find your recipe</p>
  </div>
</div>
