.btn-home{
  color: white;
  background-color: #728f72;
  border: 1px solid #728f72;
  border-radius: 20px;
  padding: 10px 20px;
}
.btn-home:hover{
  border: 1px solid #728f72;
  color: white;
  transition: 0.6s;
  box-shadow: 2px 3px 8px #727272;
}
.btn-text {
  display: inline-block;
  margin: 0 auto;
}
.btn-cicle-text {
  padding: 5px;
  font-size: 13px;
}
.btn-cards {
  padding: 3px;
}
.btn-carousel {
  color: #DD4A48;
}

.button-ingredient {
  position: relative;

  .button-delete {
    background-color: #DD4A48;
    height: 16px;
    width: 16px;
    position: absolute;
    right: -8px;
    bottom: 8px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    .button-delete {
      opacity: 1;
    }
  }
}
