.navbar-lewagon {
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 230px;
  height: 90px;
}

li {
  list-style: none;
}

.container-fluid {
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
  height: 80px;
}
.nav-link{
  color: #728f72;
  font-size: 15px;
}
.nav-link:hover{
  color: white !important;
  transition: 0.7s;
}
.nav-link-login {
  color: #728f72;
  margin-right: 10px;
}
.nav-link-login:hover {
  color: #DD4A48;
  transition: 0.8s;
}
.btn-navbar{
  color: #728f72;
  background-color: transparent;
  border: 1px solid #728f72;
  border-radius: 20px;
  display: inline-block;
  margin-right: 30px;
  font-weight: lighter;
}

.btn-navbar:hover {
  border: 1px solid white;
  background-color: #e08281;
  transition: 0.5s;
}
.btn-navbar a:hover {
  color: white;
}
.logo-list {
  width: 800px;
}

.logo-nav-bar {
  margin-right: 10px;
}
