.navbar-lewagon {
  background: #C0D8C0;
}

.toggler-design{

}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.container-fluid {
  justify-content: space-around;
  h1{
    margin: 0;
    color: #DD4A48;
  }
}

.nav-toggler:focus {
  box-shadow: 0 0 0 0;
}

@media (max-width: 600px) {
  .navbar-lewagon .navbar-brand img {
    display: none;
  }
}

// @media (max-width: 375px) {
//   .container-fluid h1{
//     font-size: 10px;
//   }
// }
